@import "bootstrap";

body {
  padding-top: 20px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

html {
  overflow-y: scroll;
}

.user-item {
  min-height: 150px;
}


@import "ember-bootstrap/bootstrap";
