<h1>This is welcome page</h1>
  <h1>This is welcome page</h1>
    <h1>This is welcome page</h1>
      <h1>This is welcome page</h1>
        <h1>This is welcome page</h1>
          <h1>This is welcome page</h1>
            <h1>This is welcome page</h1>
<br><br>
              <h1>Click on Start button to start exam</h1>
<form>
    <button {{action 'buttonStart'}} class="btn btn-primary">Start</button>

</form>
{{outlet}}
